

#header
{
	text-align:center;
}

#header > img
{
	float: left;
	height: 80px;
}

.countries {
	fill: #ffffff;
	stroke: #a9a9a9;
}

div
{
	font-family:"Benton Sans","Benton Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-style: italic;
}

#box
{
	width: 1100px;
	height:350px;
	border-color: #a9a9a9;
	border-style: solid;
	border-width: 1px;
}

#selectionBox
{
	height: 350px;
	width: 130px;
	display: inline-block;
	float:left;
	padding-left:10px;
}

#map-svg
{
	width: 950px;
	height: 350px;
	position: absolute;
}

.Asia
{
	fill:#000000;
	color: #000000;
	stroke-width:1;
	stroke:#ffffff;
	fill-opacity:0.7;
}

.Africa
{
	fill: #FFD700;
	color: #FFD700;
	stroke-width:1;
	stroke:#ffffff;
	fill-opacity:0.7;
}

.Americas
{
	fill:#FF0000;
	color: #FF0000;
	stroke-width:1;
	stroke:#ffffff;
	fill-opacity:0.7;
}

.Oceania
{
	fill:#4169E1;
	color: #4169E1;
	stroke-width:1;
	stroke:#ffffff;
	fill-opacity:0.7;
}

.Europe
{
	fill:#008000;
	color: #008000;
	stroke-width:1;
	stroke:#ffffff;
	fill-opacity:0.7;
}

.d3-tip {
    /*line-height: 5;*/
    padding-left: 10px;
    padding-right: 10px;
    min-width: 100px;
	min-height: 50px;
	border-style: inset;
    /*padding: 12px;*/
	background: #ffffff;
    color: rgba(0, 0, 0, 0.8);
	border-radius: 0;
    pointer-events: none;
}

.brush .selection {
	fill-opacity: .4;
	stroke: red;
	stroke-dasharray: 25;
	animation: dash 4s infinite;
	stroke-width: 1px;
}

@keyframes dash {
	to {
		stroke-dashoffset: 100;
	}
}

.text {
	font-size: 12px;
	fill: #565656;
	stroke-width: 0.1px;
	/*stroke: #e5e5e5;*/
}

.background {
	fill: none;
	pointer-events: all;
}

.active {
	fill: orange;
}