

#header
{
	text-align:center;
}

#header > img
{
	float: left;
	height: 80px;
}

.countries {
	fill: #ffffff;
	stroke: #a9a9a9;
}

div
{
	font-family:"Benton Sans","Benton Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-style: italic;
}

#box
{
	width: 1100px;
	height:350px;
	border-color: #a9a9a9;
	border-style: solid;
	border-width: 0.5px;
}

#selector
{
	height: 350px;
	width: 130px;
	display: inline-block;
	float:left;
	padding-left:10px;
}

#map-svg
{
	width: 1000px;
	height: 350px;
	position: absolute;
}