

h2
{
	font-family: 'Ultra', sans-serif;
	text-transform: uppercase;
	text-shadow: 0 2px white, 0 3px #777;
}

#box, #chart, #summary
{
	margin:auto;
}

#header
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align:center;
}

#header > h1
{
	text-transform: uppercase;
}

.yellow
{
	color: #FFEF08;
}

.black
{
	color:#000000;
}

.red
{
	color:#DE1818;
}

.blue
{
	color:#00298C;
}

.green
{
	color:#087B39;
}

#header > img
{
	float: left;
	height: 80px;
}

.countries {
	fill: #ffffff;
	stroke: #a9a9a9;
}

div
{
	font-family:"Benton Sans","Benton Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#box
{
	width: 1100px;
	height:350px;
	border-color: #a9a9a9;
	border-style: solid;
	border-width: 1px;
}

#chart
{
	width: 1200px;
	/*height: 500px;*/
}

#selectionBox
{
	height: 350px;
	width: 130px;
	display: inline-block;
	float:left;
	padding-left:10px;
}

#map-svg
{
	width: 950px;
	height: 350px;
	position: absolute;
}

.Asia
{
	fill:#000000;
	color: #000000;
	stroke-width:1;
	stroke:#ffffff;
	fill-opacity:0.7;
}

.Africa
{
	fill: #FFEF08;
	color: #FFEF08;
	stroke-width:1;
	stroke:#ffffff;
	fill-opacity:0.7;
}

.Americas
{
	fill:#DE1818;
	color: #DE1818;
	stroke-width:1;
	stroke:#ffffff;
	fill-opacity:0.7;
}

.Oceania
{
	fill:#00298C;
	color: #00298C;
	stroke-width:1;
	stroke:#ffffff;
	fill-opacity:0.7;
}

.Europe
{
	fill:#087B39;
	color: #087B39;
	stroke-width:1;
	stroke:#ffffff;
	fill-opacity:0.7;
}

#legend
{
	height:20px;
	width:1000px;
	margin-top: 20px;
	margin-left:10%;
	margin-bottom:20px;
}

#legend > h2
{
	float: left;
	margin: 0 0 0 0;
	position: absolute;
}

#legendBar
{
	height:20px;
	width:1000px;
	margin-top: 20px;
	margin-left:10%;
	margin-bottom:20px;
}

#legendBar > h2
{
	float: left;
	margin: 0 0 0 0;
	position: absolute;
}

#legend > svg
{
	float: right;
	width: 500px;
}

#legendBar > svg
{
	float: right;
	width: 500px;
}

#legends > #asia
{
	display: inline-block;
	height: 15px;
	width:15px;
	fill:#000000;
	color: #000000;
}

#legends > #africa
{
	height: 15px;
	width:15px;
	fill:#FFD700;
	color: #FFD700;
}

#legends > #americas
{
	height: 15px;
	width:15px;
	fill:#FF0000;
	color: #FF0000;
}


#legends > #euro
{
	height: 15px;
	width:15px;
	fill:#008000;
	color: #008000;
}


#legends > #oceania
{
	height: 15px;
	width:15px;
	fill:#4169E1;
	color: #4169E1;
}

#legendsForBar > #host
{
	height: 15px;
	width:30px;
	fill:#008000;
	color: #008000;
}

#legendsForBar > #candidate
{
	height: 15px;
	width:18px;
	fill:#008000;
	color: #008000;
}

#summary
{
	visibility: hidden;
	height: 100px;
	width: 1100px;
	padding-top:20px;
	padding-left:20px;
	text-align:center;
	font-weight:bold;
}

.map-tooltip {
    /*line-height: 5;*/
    padding-left: 10px;
    padding-right: 10px;
    min-width: 100px;
	min-height: 50px;
	border-style: inset;
	padding-top: 10px;
	padding-bottom: 10px;
    min-width: 400px;
    border-style: groove;
    /*padding: 12px;*/
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    pointer-events: none;
}

.chart-tooltip {
    /*line-height: 5;*/
    padding-left: 10px;
    padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
    min-width: 50px;
    border-style: inset;
    /*padding: 12px;*/
	background: #ffffff;
    color: rgba(0, 0, 0, 0.8);
	border-radius: 0;
    pointer-events: none;
}

.brush .selection {
    fill-opacity: 0.25;
    stroke: orange;
	stroke-dasharray: 25;
	animation: dash 4s infinite;
    stroke-width: 3px;
}

@keyframes dash {
	to {
		stroke-dashoffset: 100;
	}
}

.text {
	font-size: 12px;
	fill: #565656;
	stroke-width: 0.1px;
	/*stroke: #e5e5e5;*/
}

.background {
	fill: none;
	pointer-events: all;
}

.active {
	fill: orange;
}

.Asia_td
{
	color: #000000;	
}

.Africa_td
{
	color: #FFD700;	
}

.Americas_td
{
	color: #FF0000;
}

.Oceania_td
{
	color: #4169E1;
}

.Europe_td
{
	color: #008000;
}


td
{
	width: 100px;
}